<!DOCTYPE html>
<html>
	<%- include header.ejs %>

	<!-- Sidebar -->
	<aside class="wrap-sidebar js-sidebar">
		<div class="s-full js-hide-sidebar"></div>
	</aside>
	
	<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>
	</div>
	
	<!-- Slider -->
	<div id="carousel-slider" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	    <ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
		<div class="item active">
		  <img src="images/banner-01.jpg" alt="Los Angeles">
		</div>

		<div class="item">
		  <img src="images/banner-02.jpg" alt="Chicago">
		</div>

		<div class="item">
		  <img src="images/banner-03.jpg" alt="New York">
		</div>
	  </div>

	  <!-- Left and right controls -->
	</div>

	<!--Banner-->
	<div class="sec-banner bg0">
		<div class="flex-w flex-c-m">
			<div class="size-202 m-lr-auto respon4">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="images/banner-05.jpg" alt="IMG-BANNER">

					<a href="/product" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Men 
							</span>

							<span class="block1-info stext-102 trans-04">
								T-shirts
							</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Shop Now
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="size-202 m-lr-auto respon4">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="images/banner-05.jpg" alt="IMG-BANNER">

					<a href="/product" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Men
							</span>

							<span class="block1-info stext-102 trans-04">
								Geans
							</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Shop Now
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="size-202 m-lr-auto respon4">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="images/banner-05.jpg" alt="IMG-BANNER">

					<a href="/product" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Men
							</span>

							<span class="block1-info stext-102 trans-04">
								New Trend
							</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Shop Now
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Slider2 -->	
	<section class="newproduct bgwhite p-t-25 p-b-105">
		<div class="container">
			<div class="sec-title p-b-30">
				<h3 class="m-text16 t-center">
					Featured Products
				</h3>
			</div>
			<div class="wrap-slick2">
		<div class="slick2">
		
			<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
								<img src="images/product-03.jpg" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" onClick="OpenProductWindow();">
											Quick View
										</button>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="/product-detail" class="block2-name dis-block s-text3 p-b-5">
								Item Name
								</a>

								<span class="block2-price m-text6 p-r-5">
									500.00
								</span>
							</div>
						</div>
					</div>

			<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative">
								<img src="images/product-03.jpg" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" onClick="OpenProductWindow();">
											Quick View
										</button>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="/product-detail" class="block2-name dis-block s-text3 p-b-5">
									Item Name
								</a>

								<span class="block2-price m-text6 p-r-5">
									500.00
								</span>
							</div>
						</div>
					</div>

			<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative">
								<img src="images/product-03.jpg" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" onClick="OpenProductWindow();">
											Quick View
										</button>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="/product-detail" class="block2-name dis-block s-text3 p-b-5">
									Item Name
								</a>

								<span class="block2-price m-text6 p-r-5">
									500.00
								</span>
							</div>
						</div>
					</div>

			<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
								<img src="images/product-03.jpg" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" onClick="OpenProductWindow();">
											 Quick View
										</button>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="/product-detail" class="block2-name dis-block s-text3 p-b-5">
									Item Name
								</a>

								<span class="block2-oldprice m-text7 p-r-5">
									500.00
								</span>

								<span class="block2-newprice m-text8 p-r-5">
									450.00
								</span>
							</div>
						</div>
					</div>

			<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
								<img src="images/product-03.jpg" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" onClick="OpenProductWindow();">
											Quick View
										</button>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="/product-detail" class="block2-name dis-block s-text3 p-b-5">
									Item Name
								</a>

								<span class="block2-price m-text6 p-r-5">
									500.00
								</span>
							</div>
						</div>
					</div>

			<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative">
								<img src="images/product-03.jpg" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" onClick="OpenProductWindow();">
											Quick View
										</button>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="/product-detail" class="block2-name dis-block s-text3 p-b-5">
									Item Name
								</a>

								<span class="block2-price m-text6 p-r-5">
									500.00
								</span>
							</div>
						</div>
					</div>

			<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative">
								<img src="images/product-03.jpg" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" onClick="OpenProductWindow();">
											 Quick View
										</button>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="/product-detail" class="block2-name dis-block s-text3 p-b-5">
									Item Name
								</a>

								<span class="block2-price m-text6 p-r-5">
									500.00
								</span>
							</div>
						</div>
					</div>

			<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
								<img src="images/product-03.jpg" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" onClick="OpenProductWindow();">
											Quick View
										</button>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="/product-detail" class="block2-name dis-block s-text3 p-b-5">
									Item Name
								</a>

								<span class="block2-oldprice m-text7 p-r-5">
									500.00
								</span>

								<span class="block2-newprice m-text8 p-r-5">
									450.00
								</span>
							</div>
						</div>
					</div>
		</div>
	</div>
		</div>
	</section>


	<!-- Login Modal -->
	<div id="login-sidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="/signin" id="myAccount">New Customer <span>Sing In</span></a>
	  <a href="/cart">Orders</a>
	  <a href="#">Wishlist</a>
	</div>	
	

	<%- include footer.ejs %>
		<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
	<script type="text/javascript" src="script/slick-custom.js"></script>

</html>
	
